.root{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .form{
        width: 50%;
        .inciting__text{
            color: #1665C1;
            cursor: pointer;
        }
    }
}
.auth__heading{
    font-size: 40px !important
}

